body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
}
.menu li{
    display: inline;
}
.menu {
    position: relative;
}
.menu {
    overflow: hidden;
    background-color: #008080;
    width: 100%;
}

.menu a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 2%;
}

.menu a:hover {
    background-color: #CC6666;
    color: black;
}


.menu a.active {
    background-color: login;
    color: black;
}
.menu ul a{
  display: block;
    float: left;
}

.container{
    width: 100%;
	
 
}
.banner{
    width: 100%;
    height: 40%;
    padding-bottom: 1%;
    margin-bottom: 5%;
  
}
.slider{
    width: 100%;
    height: 170%;
}
#department{
    margin-top: 2%;
    width: 100%;
    padding-top: 10%;
}
.section{
    width: 29%;
    float: left;
  border: 1px solid black;
    padding: 1%;
    margin: 1%;
    text-align: left;
    height: 50%;
    background-color: 	#E1B2A8;
}
.section img{
    width: 90%;
    height:55%;
}
.section h3{
   
    color: #008080;
    padding: 1%;
    padding-right: 2%;
    text-align: center;
    font-size: larger;
 }
 
 .header h3{
 
    color: #4e4e4e;
    text-align: center;
    font-size: 50px;
 }
 .header h2{
 
    color: #4e4e4e;
    text-align: center;
    font-size: 30px;
 }
 .header {
 
    color: #4e4e4e;
    text-align: left;
    font-size: 10px;
 }
 
 .about{
     width: 96%;
     padding: 1%;
     background-color: #dddddd;
 }
.info{
    text-align: center;
    border: #4e4e4e dotted 2px;
    background-color: 	#E1B2A8;
  
}



input[type=text], input[type=password] ,input[type=email] ,select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #008080;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}



.imgcontainer {
    text-align: center;
    margin: 54px 0 12px 0;
}

img.avatar {
    width: 25%;
    border-radius: 50%;
}
span.psw {
    float: right;
    padding-top: 16px;
}
.login{
    width: 65%;
    float: left;
}
 form{
     text-align: right;
     padding-right: 30%;

 }

